* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-menu.show {
  margin-top: 8px !important;
  background-color: #FFFFFF;
  color: black;
}

.dropdown-menu.show {
  border-radius: 0 0 2 2 !important;
}

.dropdown-menu.show a {
  font-weight: 450;
  color: #457B9D !important;
}

.dropdown-menu.show a:hover {
  background-color: #457B9D;
  color: #F1FAEE !important;
}

.dropdown-divider {
  background-color: #F1FAEE !important;
}

.Form {
  box-shadow: 5px 10px #888888;
}